# dependencies
node_modules/

# IDE & Editor settings
.vscode/
.idea/
.DS_Store

# Local Mock Database
db.json

# UniApp & Vue build outputs
dist/
unpackage/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# EdgeOne specific
.edgeone/
